# Pants-related artifacts
# https://www.pantsbuild.org/docs/gitignore
########################################################################
/.pants.d/
/dist/
/.pids
/.pants.workdir.file_lock*

/build-support/venv
__pycache__
